@import 'reset';

.props-component {
  border: solid 1px #000;
  padding: 5px;
  margin: 20px 0;

}

.outer-container{
  border: 1px solid #DDD;
  padding-left: 10px;
  margin-bottom: 12px;
}

h1 {
  font-family:sans-serif;
  font-size: 2em;
  color: #000;
  text-align:center;
}

h2 {
  font-family: serif;
  font-size: 1.3em;
  color: gray;
  margin-bottom: 10px;
}

.p-starring {
  font-family: Helvetica, Verdana, sans-serif;
  color: blue;
  margin-bottom: 10px;
}


.p-desc {
  font-family: serif;
  color: darkblue;

}

.title {
  text-align:left;
}
